<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        html, body, .viewport {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div>
    Hello Hello!!!
    <hh-timeline style="width: 100%"></hh-timeline>
</div>
</body>
</html>