<html>
<body>
    <script async type="text/javascript" src="wasm/HuaHuoEngineV2.js"></script>
    This is just for testing purpose. <br>

    <canvas id="huahuoCanvas" width="800px" height="600px" style="border: 1px solid gray">
    </canvas>
</body>
</html>