<html>
<body>
    <script async type="text/javascript" src="wasm/HuaHuoEngineV2.js"></script>
    This is just for testing purpose.

    <canvas id="drawCanvas" width="800px" height="600px">
    </canvas>
</body>
</html>