<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- http://localhost:8989 -->
    <meta http-equiv="origin-trial"
          content="Ajel9y/4kYSSopfVsIiVYk65wnA5Mg82nVU8A28eTSRJfn+CHraiaOuwEv3LmHjFtYr1wtNf7xC3D6Kddx8YCgcAAABJeyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0Ojg5ODkiLCJmZWF0dXJlIjoiV2ViR1BVIiwiZXhwaXJ5IjoxNjkxNzExOTk5fQ==">

    <!-- http://127.0.0.1:8080 -->
    <meta http-equiv="origin-trial"
          content="AlCZb9rVO1mKNXZqZS4CTUIqgXuU3Sk0U21yJg69RRN0nBDzPKjiSbSulTeXEsLVeUWP4Er7WbW8mDCG4K6+aAAAAABJeyJvcmlnaW4iOiJodHRwOi8vMTI3LjAuMC4xOjgwODAiLCJmZWF0dXJlIjoiV2ViR1BVIiwiZXhwaXJ5IjoxNjkxNzExOTk5fQ==">

    <!-- www.huahuo.online -->
    <meta http-equiv="origin-trial"
          content="AlEK79kzQH3fq96fJbxPL6b8K95REaaTDyVjIkqXmTcDIFzg9I5W+YAreHnYPe4YtJEJR4I/X7Qxzq22uh341wEAAABkeyJvcmlnaW4iOiJodHRwczovL3d3dy5odWFodW8ub25saW5lOjQ0MyIsImZlYXR1cmUiOiJXZWJHUFUiLCJleHBpcnkiOjE2OTE3MTE5OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">

    <script type="text/javascript" src="static/js/gl-matrix-min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/litegraph.css">
    <link rel="stylesheet" type="text/css" href="src/index.css">

    <style>
        html, body, .viewport {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Scale canvas with resize attribute to full size */
        canvas[resize] {
            width: 100%;
            height: 100%;
        }

        .tooltip-text {
            position: absolute;
            padding: 4px 8px;
            background-color: yellow;
            color: black;
            border-radius: 4px;
            font-size: 14px;
            white-space: nowrap;
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }
    </style>

    <script type="text/javascript" src="static/gif.js/dist/gif.js"></script>
    <script type="text/javascript" src="static/gif.js/dist/gif.worker.js"></script>

</head>
<body style="overflow: scroll" class="bg-[#64748b]">
<div id="loading">
    Loading... <br>

    <a onclick="document.querySelector('#noNeedtoShowSentences').style.display = 'block';"
       class="underline text-blue-300 cursor-pointer">如果无聊的话，可以点这里看一段中二的话</a>

    <div id="noNeedtoShowSentences" style="display: none">
        2023年6月3日
        翻了一下代码提交记录，花火的第一行代码是2021年12月7日写的，弹指一挥间已经两年半了。不过让我有点意外的是，依然是一个人。<br>
        可能想做点自己的东西这条路确是一定是孤单的。期间也曾经想过找人帮忙，但是都被各种各样的理由拒绝了。也不意外吧，现代社会，忙忙碌碌，时间等于金钱。
        要别人付出时间，又没有金钱的回报，本来就是一件不可能的事情。所以可能只能依然孤单吧。虽然内心深处还是希望能找到一个志同道合的朋友，有了问题一起讨论，
        解决了问题一起高兴，不过算了，这本就是奢望。<br>
        做任何事情，不如意者十之八九，孤独就孤独吧，至少所有的事情都能自己决定，现下只能自己这样安慰自己了。<br>
        古人说，十年饮冰，难凉热血，也许想要做出点啥确实要十年。我觉得我个人坚持十年应该没有太大问题，只是这个社会大概率不会再等十年了，类似的工具或者更好的工具出现只是早晚的问题，
        只能说，走一步看一步，虽然知道这条路看上去九成九是死路，但是只要自己觉得这些年干了点自己想干的事情就好，虽然心有不甘，但是自己也知道心有不甘本就是人生的常态。
        要干点事情，不顺利才是最最可能的发生的。<br>
        说回花火网络本身，做这个网站的初衷当然还是因为十五岁那年第一次见到Flash的时候那种惊艳的感觉。虽然看上去很幼稚，但是一个初中生居然在十分钟内就能简简单单
        做出一段小小的动画。当我看着那台486电脑上运行着我做的时钟动画的时候，那种成就感满满的感觉至今难忘。也许正因如此，后来才学了计算机开始学习写代码。读书期间，
        还经常能看到网络上各种Flash动画。“我们都是活雷锋”、“火柴人”，甚至于闪客帝国这种网站也是我自己非常喜欢看的内容。
        但是，那时候，总觉得类似Flash这种东西都是大公司的作品，
        普通人只能进大公司拧螺丝，自己做一个无非痴人说梦而已。<br>
        后来，就很久没有了Flash的消息，直到苹果宣布不支持Flash，然后就是Adobe宣布结束Flash生命周期，将于2020年的最后一天下线。
        其实我听到这条消息的时候，还是很震惊的。难道我小时候， 对于能够自己做一些简单动画这件事情的成就感，是一个小众需求？难道曾经火爆全网的闪客帝国，甚至“闪客”
        这个词语本身，都是小众？可是当时还是全网大火的啊？难道2d动画已经被淘汰了？可是还是有很多人看番剧啊？<br>
        接下来一个让我困惑很久很久的事情就发生了，那就是Flash死了以后，所有人都说，替代Flash的将是HTML5。可是Flash和HTML5明明是两码事啊？一个是完整的工作流，
        一个只是做出完整工作流的基础架构而已啊？难道Adobe或者别的公司要做一个能生成HTML5动画的编辑器？<br>
        怀着这个想法，又等了一年，什么都没有？<br>
        既然Adobe不做，那么我自己做，于是有了花火网<br>
        一晃两年半，依然孤身一人，用户都没有一个，也许这确实是个小众需求吧，我已经看淡了。
        也许确实，做东西不追求别的，只是让自己开心就好是最重要的。其他的随缘了。命里有时终需有，命里无时不强求。<br>

        顺便，如果你能看到这里，如果你想跟我联系，这是我的联系方式：
        <ul>
            <li>微信：zhangxinfeng4694</li>
            <li>QQ: 6372793</li>
            <li>email: talentzxf@hotmail.com</li>
            <li>知乎: 胖胖小2</li>
            <li>b站：zxf1982</li>
        </ul>

        当然，应该也不会有人能看到这里，所以，继续做孤勇着的孤勇者吧。<br>
        <b>One more
            thing，如果你读到这里，这个网站还没有加载出来，那证明本网站真的极度缺钱，希望能得到你的赞助。有钱就有CDN，有了CDN加载就能贼快，美滋滋</b>
        <br>
    </div>

</div>

<div id="mainSceneDiv" style="width: 100%; height: 100%; display: none">
    <rgba-color-picker></rgba-color-picker>
    <hh-container id="outmost_container" translateAll='true' hide="true">
        <hh-container id="main_menu_container" direction="row" size="fit-content" hasSplitter="false">
            <hh-main-menu></hh-main-menu>
        </hh-container>
        <hr class="hr" style="margin: 0px"/>

        <hh-sidebar initDockStatus="right-top" allowedDockDirection="top,bottom">
            <hh-sidebar-content title="Tools">
                <hh-draw-toolbar></hh-draw-toolbar>
            </hh-sidebar-content>
        </hh-sidebar>

        <!--        <hh-sidebar initDockStatus="left-top">-->
        <!--            <hh-sidebar-content title="Properties">-->
        <!--                &lt;!&ndash;                <hh-inspector></hh-inspector>&ndash;&gt;-->
        <!--                <div id="hh-inspector"></div>-->
        <!--            </hh-sidebar-content>-->
        <!--        </hh-sidebar>-->

        <hh-sidebar initDockStatus="right-bottom">
            <hh-sidebar-content title="HistoryCommands">
                <hh-history-commands></hh-history-commands>
            </hh-sidebar-content>
        </hh-sidebar>

        <hh-container id="scene_left_side_bar" direction="row" hasSplitter="true">
            <hh-container id="left_side_bar" size="fit-content" style="min-width: 350px">
                <hh-panel title-direction="vertical">
                    <hh-content closable="false" title="Properties">
                        <div id="hh-inspector"></div>
                    </hh-content>
                </hh-panel>
            </hh-container>

            <hh-container id="main_scene_view_container" direction="row">
                <hh-panel content-style="flex-basis:100%; display:flex; align-items: stretch">
                    <hh-content closable="false" title="scene"
                                style="width:100%; height:100%; flex-basis:100%; align-items: stretch">
                        <hh-sceneview id="mainScene"
                                      style="flex-basis:100%; display:flex; align-items: stretch"></hh-sceneview>
                    </hh-content>
                    <!--                    <hh-content title="Game">Game Content</hh-content>-->
                </hh-panel>
            </hh-container>
            <!--            <hh-container direction="row" style="height:10%">-->
            <!--                <hh-panel>-->
            <!--                    <hh-content title="logs" style="width:100%; height:100%">-->
            <!--                        <textarea id="stdout" style="height:100%;width: 100%;resize:none;box-sizing:border-box;overflow-y:auto;overflow-x:auto;" disabled></textarea>-->
            <!--                    </hh-content>-->
            <!--                </hh-panel>-->
            <!--            </hh-container>-->
        </hh-container>
        <div style="width: 100%; display: flex; height: 20px">
            <div id="promptBar" style="display: flex; flex-direction: row; background-color: lightgrey; width: 100%">
                <span id="promptBarSpan">  </span>
            </div>
            <div id="statusBar"
                 style="display: flex; flex-direction: row-reverse; background-color: lightgrey; width: 100%">
                <span id="statusBarSpan"> Mouse Position </span>
            </div>
        </div>
    </hh-container>
</div>

<script lang="text/javascript">
    var Module = {
        print: (function outputLog() {
            var element = document.getElementById('stdout');
            if (element) element.value = ''; // clear browser cache
            return function (text) {
                if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
                // These replacements are necessary if you render to raw HTML
                //text = text.replace(/&/g, "&amp;");
                //text = text.replace(/</g, "&lt;");
                //text = text.replace(/>/g, "&gt;");
                //text = text.replace('\n', '<br>', 'g');
                console.log(text);
                if (element) {
                    element.value += text + "\n";
                    element.scrollTop = element.scrollHeight; // focus on bottom
                }
            };
        })()
    }

    window.onerror = function (event) {
        console.error(event)
    };
</script>
<script async type="text/javascript" src="wasm/HuaHuoEngineV2.js"></script>
<!--<div style="display: flex; flex-direction: column;width: 100%; height:100%">-->
<!--  <hh-panel>-->
<!--    <hh-content title="Tab 1-1">Content 1-1</hh-content>-->
<!--    <hh-content title="Tab 1-2">Content 1-2</hh-content>-->
<!--    <hh-content title="Tab 1-3">Content 1-3</hh-content>-->
<!--  </hh-panel>-->
<!--  <hh-panel>-->
<!--    <hh-content title="Tab 2-1">Content 2-1</hh-content>-->
<!--    <hh-content title="Tab 2-2">Content 2-2</hh-content>-->
<!--    <hh-content title="Tab 2-3">Content 2-3</hh-content>-->
<!--  </hh-panel>-->
<!--  <hh-panel>-->
<!--    <hh-content title="Tab 3-1">Content 3-1</hh-content>-->
<!--    <hh-content title="Tab 3-2">Content 3-2</hh-content>-->
<!--    <hh-content title="Tab 3-3">Content 3-3</hh-content>-->
<!--  </hh-panel>-->
<!--</div>-->
</body>
</html>