<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get started with GPU Compute on the Web - Sample #1</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="origin-trial"
          content="AtP9x4V9t7hOc6q3uPd12rBaena66Pf+EPHPN+hUbGuYeSWA8/wFRLu/09CWhwAfkMF6gQHVRI1KjuCNZ6mivQAAAABJeyJvcmlnaW4iOiJodHRwOi8vMTI3LjAuMC4xOjgxODEiLCJmZWF0dXJlIjoiV2ViR1BVIiwiZXhwaXJ5IjoxNjkxNzExOTk5fQ==">
    <style>
        canvas {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

Hello Hello

<canvas style="position: absolute; top: 0px; left:0px" id="canvas-container"></canvas>

</body>
</html>
