<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="origin-trial" content="AjNoFpNCkIYJrD2DWObOiiRl8E2AWK5Pz9gjxSliHoNp7LUiio/bwZt3V6dRU6sfrsxPW8Ci4oDBFj8nBQA6gAAAAABJeyJvcmlnaW4iOiJodHRwOi8vMTI3LjAuMC4xOjgxODEiLCJmZWF0dXJlIjoiV2ViR1BVIiwiZXhwaXJ5IjoxNjc1MjA5NTk5fQ==">
</head>

<body>
    <canvas id="result_canvas" width="300" height="300"></canvas>
</body>

</html>