<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="origin-trial" content="AiLX2uC+PylgehNJhXY7Y3+Rq+Pdmhu++tPpxjxmKZ0v6nsIXmtsyL/CwqQ0CqdJSk/u9v5Vu3GUvVNP+iAIWwIAAABJeyJvcmlnaW4iOiJodHRwOi8vMTI3LjAuMC4xOjgwODAiLCJmZWF0dXJlIjoiV2ViR1BVIiwiZXhwaXJ5IjoxNjc1MjA5NTk5fQ==">
</head>

<body>
    <canvas id="result_canvas" width="300" height="300"></canvas>
</body>

</html>