<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        html, body, .viewport {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
        function init(){
                let toast = document.querySelector("hh-toast")
                toast.setText(1, "asdfasdfsadfsadf")
        }
    </script>
</head>
<body onload="init()">
    <hh-toast position="LEFTUP"></hh-toast>
</body>
</html>