import os
LLVM_ROOT=os.getenv('LLVM')
NODE_JS=[os.getenv('NODE'),'--stack_size=8192','--max-old-space-size=4096'] 
EMSCRIPTEN_ROOT=os.getenv('EMSCRIPTEN')
SPIDERMONKEY_ENGINE = ''
V8_ENGINE = ''
TEMP_DIR = os.getenv('EMSCRIPTEN_TMP')
BINARYEN_ROOT = os.getenv('BINARYEN')
COMPILER_ENGINE = NODE_JS
JS_ENGINES = [NODE_JS]
JAVA = ''