<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="origin-trial"
          content="AjNoFpNCkIYJrD2DWObOiiRl8E2AWK5Pz9gjxSliHoNp7LUiio/bwZt3V6dRU6sfrsxPW8Ci4oDBFj8nBQA6gAAAAABJeyJvcmlnaW4iOiJodHRwOi8vMTI3LjAuMC4xOjgxODEiLCJmZWF0dXJlIjoiV2ViR1BVIiwiZXhwaXJ5IjoxNjc1MjA5NTk5fQ==">

    <style>
        #heartImg > path{
            fill: red;
        }
    </style>
</head>

<body>
<div id="loading">
    <div style="display: flex; flex-direction: column; width: 30%; margin: auto; text-align: center">
        <h1 style="color: deeppink; font-family: Papyrus">Thawing Frozen Heart</h1>
        <img src="static/img/loading.gif">
        <h3>Loading</h3>
    </div>
</div>

<div id="content" style="display: none;justify-content: center; flex-direction: column">
    <div>
        <div style="display: flex;justify-content: center; flex-direction: row">
            <input type="button" value="Create" id="placeBrick" style="width: 50px">
            <input type="button" value="Dig" id="digBrick" style="width: 50px">
        </div>
        <div style="display: flex;justify-content: center;">
            <canvas id="result_canvas" width="300" height="300"></canvas>
        </div>
    </div>
</div>
</body>

</html>